@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-gray-800: #817d92;
  --color-black-700: #24232c;
  --color-white: #ffff;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}
